*.idea
target/*
project/*
*.un~
*.MF
*.log
*.jar
!lib/
*.bat
*.csv
!project/Dependencies.scala
!project/plugins.sbt
*.xlsx
#macOS
.DS_Store
*.icloud
remote-version.txt
version.txt
.bsp/
.gradle
.DS_Store?